<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="col-md-3">
    <h2>Administration</h2>
    <li><%= link_to "All Users", admin_users_path %></li>
    <li><%= link_to "All Products", admin_products_path %></li>
  </div>
  <div class="col-md-6">
  <h3>Products</h3>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Weight</th>
	      <th>Price</th>
	      <th>User</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @products.each do |product| %>
	      <tr>
		<td><%= product.name %></td>
		<td><%= product.weight %></td>
		<td><%= product.price %></td>
		<td><%= product.user.username %></td>
		<td><%= link_to 'Show', product %></td>
		<td><%= link_to 'Edit', edit_product_path(product) %></td>
		<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>
</div>



